body {
    background-image: url("img/background-img.jpg");
    background-size: 220vh 110vh;
}

canvas {
    background-color: rgb(22, 12, 36, 0.99);
    /*#160C24*/
    /*#1A102B*/
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: inset 5px #301B42;

}

#nav {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: #c7d2e2;
    font-weight: 900;
    text-align: center;
    letter-spacing: 8px;
    padding: 10px;
}