body {
    background-image: url("img/background-img.jpg");
    background-size: 220vh 110vh;
}

canvas {
    background-color: #160C24;
    /*#1A102B*/
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: inset 5px #301B42;

}