html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("images/background-img.jpg");
    background-size: 210vh 105vh;
    font-family: Consolas;
    display: flex;
    flex-direction: column;
}

.canvasContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 6px;
}

canvas {
    background-color: #262728;
    border: inset 1px rgb(28, 23, 31);
    opacity: 0.97;
}

.nav {
    font-size: 1.7rem;
    color: #e7e7e7;
    font-weight: 900;
    text-align: center;
    margin: 0.4rem;
    letter-spacing: 12px;
}

.btnContainer {
    display: flex;
    margin-right: 6%;
}

.buttons {
    margin: auto;
}

.btn {
    background-color: #d2d5db;
    color: black;
    border-radius: 12px;
    padding: 0.7rem 1.1rem;
    margin: 0.1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn:active {
    border: 2px inset #555555;
}

.scoring {
    width: 12rem;
    background-color: #212122;
    opacity: 0.86;
    font-size: 10px;
    color: #666768;
    text-align: center;
    border-bottom-right-radius: 3px;
}

video {
    margin-top: 0.7rem;
    opacity: 0.18;
}
