html,
body {
    height: 100% !important;
    width: 100% !important;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("img/background-img.jpg");
    background-size: 220vh 110vh;
    font-family: Consolas;
}

.canvasContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

canvas {
    background-color: #3d3d3f;
    margin-bottom: 8px;
    border: inset 3px rgb(28, 23, 31);
}

.nav {
    font-size: 34px;
    color: #e7e7e7;
    font-weight: 900;
    text-align: center;
    letter-spacing: 11px;

    padding: 5px;
}

.btnContainer {
    display: flex;
    margin-right: 8%;
}

.buttons {
    display: flex;
    margin: auto;
    width: 260px;
}

.btn {
    background-color: #e7e7e7;
    color: black;
    border: 2px outset #4d4d4d;
    border-radius: 12px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;

}

.btn:focus {
    outline: none;
}

.btn:active {
    border: 2px inset #555555;
}

.scoring {
    width: 90px;
    height: 600px;
    background-color: #212122;
    opacity: 0.96;
    font-size: 8px;
    text-align: left;
    color: #666768;
    text-align: center;
    border-bottom-right-radius: 3px;
    border-right: inset 3px rgb(37, 30, 41);
    border-top: inset 3px rgb(37, 30, 41);
    border-bottom: inset 3px rgb(37, 30, 41);
}